body {
  background-color: #202124;
  font-family: arial, sans-serif;
  color: white;
  margin: 0;
}

.nav_inner {
  display: flex;
  justify-content: flex-end;
}

nav div {
  padding: 10px;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.img-link:hover {
  background-color: #515151;
  border-radius: 50px;
}

.img-link-avatar:hover {
  background-color: #515151;
  border-radius: 100px;
}

input {
  all: unset;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 5px;
}

.search-bar:hover {
  background-color: #303134;
  border: 1px solid #303134;
}

button {
  cursor: pointer;
}

.elements {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.btn_div {
  display: flex;
}

.btn_div div {
  padding-right: 10px;
}

.btn {
  padding: 9px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #303134;
  color: rgb(255, 255, 244);
  border: 1px solid #303134;
  border-radius: 4px;
}

.btn:hover {
  padding: 9px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #303134;
  color: rgb(255, 255, 244);
  border: 1px solid #515151;
  border-radius: 4px;
}

.nav_link {
  color: #9aa0a6;
}

.footage {
  display: flex;
  justify-content: space-between;
}

.footage_link div {
  padding-right: 20px;
}

.footage_all_elements {
  display: block;
  align-items: stretch;
}

.all_center_content {
  margin-top: 150px;
}
